@mixin itemWidth() {
  width: 300px;

  @media all and (max-width: 576px) {
    width: 180px;
  }
}

@mixin spaceBetweenItems() {
  margin-right: 40px;

  @media all and (max-width: 576px) {
    margin-right: 20px;
  }
}

.slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 100px 0;
}

.arrow-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  justify-content: center;
  z-index: 1;

  @media all and (max-width: 576px) {
    font-size: 20px;
  }
}

.hide-arrow {
  @extend .arrow-wrapper;

  svg {
    visibility: hidden;
  }
}

.highlighted-item-wrapper {
  @include itemWidth();
  margin: 0 auto;
}

.item {
  @include spaceBetweenItems();
}

.item-active {
  @extend .item;
  box-shadow: 0 40px 180px rgba(0, 0, 0, 0.6);
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: all 0.8s;

  @media all and (min-width: 576px) and (max-width: 768px) {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  }

  @media all and (max-width: 576px) {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  }
}

.item-not-active {
  @extend .item;
  opacity: 0.5;
}

.items-wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.8s;
}
