.songs-table-wrapper {
  border: 1px solid #dee2eb;
  border-radius: 5px;
  height: 500px; }
  .songs-table-wrapper th,
  .songs-table-wrapper td {
    text-align: center;
    font-weight: bold;
    vertical-align: middle; }
  .songs-table-wrapper tbody {
    overflow: auto; }
  .songs-table-wrapper tr:hover .song-album-art {
    transform: scale(1.08, 1.08);
    transition: all 0.2s; }

.song-album-art {
  border-radius: 3px;
  height: 60px;
  width: 60px; }

@media all and (max-width: 576px) {
  .song-album-art-table-elements {
    display: none; } }

.table-icon:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
  transition: all 0.2s; }

.new-playlist-songs-table .table-icon:hover {
  color: red; }

.suggested-songs-table .table-icon:hover {
  color: green; }
