@import "../../../../theme/theme-variables.scss";

.table-label {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 5px 0;
}

.table-rows-wrapper {
  background: linear-gradient(#B7D1DA 10%, #406E8E 90%);
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 10px;

  .populate-button-container {
    display: flex;
    justify-content: center;
  }
}

.transition-effects {
  background-image: linear-gradient(to right, white, #eef7fa);
  border-radius: 2px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.table-row {
  border-bottom: 1px solid white;
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 60px;
  min-width: 228px;
  position: relative;
  overflow: hidden;

  &:after {
    @extend .transition-effects;
    transition: width 2s ease;
    width: 0;
  }

  &:before {
    @extend .transition-effects;
    opacity: 0;
    transition: opacity 2s ease;
    width: 100%;
  }

  &:active {
    &:after {
      transition: width 0s;
      width: 100%;
    }

    &:before {
      opacity: 1;
      transition: opacity 0s;
    }
  }
}

.song-info {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.album-art-wrapper {
  margin-right: 15px;
}

.tr-icons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  min-width: 55px;

  .play-icon-wrapper {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 100%;
    position: absolute;
  }

  .hide {
    display: none;
  }
}

.album-art {
  border-radius: 2px;
  height: 60px;
  width: 60px;
}

.song-and-artist-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media all and (max-width: 767px) {
    width: 50%;
  }

  @media all and (min-width: 768px) and (max-width: 991px) {
    width: 65%;
  }

  @media all and (min-width: 992px) {
    width: 75%;
  }

  .song-name {
    @extend .font-16-medium;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .artist-name {
    @extend .font-14-regular;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.icon-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.row-dropdown-height {
  display: flex;
  height: 80px;
  overflow: hidden;
  transition: height 1s;
  width: inherit;
}

.row-dropdown-no-height {
  height: 0;
  overflow: hidden;
  transition: height 1s;
}
