.font-12-regular {
  font-size: 12px;
  font-weight: normal; }

.font-12-medium {
  font-size: 12px;
  font-weight: 500; }

.font-12-bold {
  font-size: 12px;
  font-weight: bold; }

.font-14-regular, .song-and-artist-name-wrapper .artist-name {
  font-size: 14px;
  font-weight: normal; }

.font-14-medium {
  font-size: 14px;
  font-weight: 500; }

.font-14-bold {
  font-size: 14px;
  font-weight: bold; }

.font-16-regular {
  font-size: 16px;
  font-weight: normal; }

.font-16-medium, .song-and-artist-name-wrapper .song-name {
  font-size: 16px;
  font-weight: 500; }

.font-16-bold {
  font-size: 16px;
  font-weight: bold; }

.font-18-regular {
  font-size: 18px;
  font-weight: normal; }

.font-18-medium {
  font-size: 18px;
  font-weight: 500; }

.font-18-bold {
  font-size: 18px;
  font-weight: bold; }

.font-24-regular {
  font-size: 24px;
  font-weight: normal; }

.font-24-medium {
  font-size: 24px;
  font-weight: 500; }

.font-24-bold {
  font-size: 24px;
  font-weight: bold; }

.table-label {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 5px 0; }

.table-rows-wrapper {
  background: linear-gradient(#b7d1da 10%, #406e8e 90%);
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 10px; }
  .table-rows-wrapper .populate-button-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px; }
    .table-rows-wrapper .populate-button-container .alert-success {
      background-color: #bee6ce;
      width: 75%; }
      @media all and (max-width: 320px) {
        .table-rows-wrapper .populate-button-container .alert-success {
          font-size: 14px;
          width: 60%; } }

.transition-effects, .table-row:after, .table-row:before {
  background-image: linear-gradient(to right, white, #eef7fa);
  border-radius: 2px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1; }

.table-row {
  border-bottom: 1px solid white;
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 60px;
  min-width: 228px;
  position: relative;
  overflow: hidden; }
  .table-row:after {
    transition: width 2s ease;
    width: 0; }
  .table-row:before {
    opacity: 0;
    transition: opacity 2s ease;
    width: 100%; }
  .table-row:active:after {
    transition: width 0s;
    width: 100%; }
  .table-row:active:before {
    opacity: 1;
    transition: opacity 0s; }

.song-info {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; }

.album-art-wrapper {
  margin-right: 15px; }

.tr-icons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  min-width: 55px; }
  .tr-icons-wrapper .play-icon-wrapper {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 100%;
    position: absolute; }
  .tr-icons-wrapper .hide {
    display: none; }

.album-art {
  border-radius: 2px;
  height: 60px;
  width: 60px; }

.song-and-artist-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media all and (max-width: 767px) {
    .song-and-artist-name-wrapper {
      width: 50%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .song-and-artist-name-wrapper {
      width: 65%; } }
  @media all and (min-width: 992px) {
    .song-and-artist-name-wrapper {
      width: 75%; } }
  .song-and-artist-name-wrapper .song-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }
  .song-and-artist-name-wrapper .artist-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }

.icon-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex; }

.row-dropdown-height {
  display: flex;
  height: 80px;
  overflow: hidden;
  transition: height 1s;
  width: inherit; }

.row-dropdown-no-height {
  height: 0;
  overflow: hidden;
  transition: height 1s; }
