@mixin itemWidth() {
  width: 300px;

  @media all and (max-width: 576px) {
    width: 180px;
  }
}

@mixin itemHeight() {
  height: 300px;

  @media all and (max-width: 576px) {
    height: 180px;
  }
}

.playlist-card-wrapper {
  @include itemHeight();
  @include itemWidth();
  cursor: pointer;
}

.playlist-modal-body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(180, 180, 180);
  background-blend-mode: screen;
}

.modal-content {
  overflow-y: auto;
}
