.playlist-card-wrapper {
  height: 300px;
  width: 300px;
  cursor: pointer; }
  @media all and (max-width: 576px) {
    .playlist-card-wrapper {
      height: 180px; } }
  @media all and (max-width: 576px) {
    .playlist-card-wrapper {
      width: 180px; } }

.playlist-modal-body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b4b4b4;
  background-blend-mode: screen; }

.modal-content {
  overflow-y: auto; }
