@mixin itemWidth() {
  width: 300px;

  @media all and (max-width: 576px) {
    width: 180px;
  }
}

@mixin itemHeight() {
  height: 300px;

  @media all and (max-width: 576px) {
    height: 180px;
  }
}

.songs-table-wrapper {
  border: 1px solid #dee2eb;
  border-radius: 5px;
  height: 500px;

  th,
  td {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }

  tbody {
    overflow: auto;
  }

  tr:hover {
    .song-album-art {
      transform: scale(1.08, 1.08);
      transition: all 0.2s;
    }
  }
}

.playlist-card-wrapper {
  @include itemHeight();
  @include itemWidth();
  border-radius: 5px;
  cursor: pointer;
}

.playlist-modal-body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(180, 180, 180);
  background-blend-mode: screen;
}

.modal-content {
  overflow-y: auto;
}
