.circular-button-container {
  align-items: center;
  background-color: #9C0D38;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
