.outer-slider-wrapper {
  width: 100%; }

.slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; }

.position-relative {
  position: relative; }

.arrow-wrapper, .hide-arrow {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  position: absolute;
  justify-content: center;
  z-index: 1; }

.left-arrow {
  left: 0; }

.right-arrow {
  right: 0; }

.hide-arrow svg {
  visibility: hidden; }

.highlighted-item-wrapper {
  margin: 0 auto; }

.item, .item-active, .item-not-active {
  border-radius: 5px; }

.item-active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: all 0.8s; }

.item-not-active {
  opacity: 0.5; }

.items-wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.8s; }
