.category-card {
  border-radius: 25px;
  transition: all .5s;
  cursor: pointer; }

.category-card-img {
  border-radius: 25px; }

.category-card-text {
  color: white;
  text-align: center; }

.category-card-col {
  margin-top: 25px;
  margin-bottom: 25px; }

.clicked {
  opacity: 0.2; }

.not-clicked:hover {
  box-shadow: 0 40px 180px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }
