.playlist-image-container {
  border: 1px solid #ced4da;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 10px; }
  .playlist-image-container .playlist-image-text-container {
    display: flex;
    align-items: center; }
    .playlist-image-container .playlist-image-text-container div {
      padding-right: 25px; }
      @media all and (max-width: 420px) {
        .playlist-image-container .playlist-image-text-container div {
          padding-right: 0;
          text-align: center; } }
  @media all and (max-width: 420px) {
    .playlist-image-container {
      flex-direction: column; } }

.playlist-image-modal {
  max-width: 800px; }
  @media all and (max-width: 320px) {
    .playlist-image-modal {
      font-size: 14px; } }
  .playlist-image-modal .container {
    max-width: 100%; }
  .playlist-image-modal .modal-content {
    max-height: 840px;
    overflow-y: hidden; }

.left {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center; }
  @media all and (min-width: 576px) {
    .left {
      justify-content: flex-start; } }
  @media all and (min-width: 992px) {
    .left {
      margin-left: 10px; } }

.right {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center; }
  @media all and (min-width: 576px) {
    .right {
      justify-content: flex-end; } }
  @media all and (min-width: 992px) {
    .right {
      margin-right: 10px; } }

.center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center; }

.instructions-and-button-wrapper {
  flex-direction: column;
  justify-content: center; }

.playlist-image-wrapper {
  height: 260px;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto; }
  @media all and (max-width: 600px) {
    .playlist-image-wrapper {
      height: 190px; } }
  @media all and (max-width: 320px) {
    .playlist-image-wrapper {
      height: 160px; } }

.playlist-image {
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 220px;
  width: 220px; }
  @media all and (max-width: 730px) {
    .playlist-image {
      height: 200px;
      width: 200px; } }
  @media all and (max-width: 660px) {
    .playlist-image {
      height: 190px;
      width: 190px; } }
  @media all and (max-width: 630px) {
    .playlist-image {
      height: 180px;
      width: 180px; } }
  @media all and (max-width: 600px) {
    .playlist-image {
      height: 170px;
      width: 170px; } }
  @media all and (max-width: 320px) {
    .playlist-image {
      height: 150px;
      width: 150px; } }

.picked-image {
  margin: 0; }

.camera-icon-container {
  color: #6c757d;
  cursor: pointer;
  font-size: 60px; }
  @media all and (max-width: 600px) {
    .camera-icon-container {
      font-size: 40px; } }

.file-input {
  display: none; }

@media all and (max-width: 320px) {
  .font-override {
    font-size: 14px !important; } }

.save-and-cancel-buttons-wrapper {
  border-top: 1px solid #ced4da; }

.save-and-cancel-buttons {
  padding: 10px;
  display: flex;
  justify-content: flex-end; }
  .save-and-cancel-buttons .btn {
    margin-left: 10px; }
