.playlist-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.playlist-image {
    cursor: pointer;
    height: 225px;
    width: 225px;
    border-radius: 15px;
}

.modal-dialog {
    max-width: 600px;
}

.modal-content {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.upload-own-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    .upload-own-image-text-icon-container {
        @media all and (min-width: 576px) {
            margin-right: 28px;
        }
    }

    .upload-own-image-text{
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .camera-icon-container {
        display: flex;
        justify-content: center;
        color: #6c757d;
        font-size: 60px;
        cursor: pointer;
    }

    .file-input {
        display: none;
    }
}

.photo-search-input-container {
    width: 100%;

    @media all and (max-width: 575px) {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    input {
        @media all and (min-width: 576px) {
            margin-left: 6px;
        }

        @media all and (min-width: 768px) {
            margin-left: 30px;
        }
    }
}

.photo-search-button-container {
    width: 100%;

    @media all and (max-width: 575px) {
        display: flex;
        justify-content: center;
    }

    button {
        @media all and (min-width: 576px) {
            margin-left: 24px;
        }

        @media all and (min-width: 768px) {
            margin-left: 10px;
        }
    }
}

.playlist-image-modal-container {
    @extend .playlist-image-container;
    margin: 10px 0 10px 0;
    
    img {
        @extend .playlist-image;
    }
}

.margin-right-25 {
    @media all and (min-width: 768px) {
        margin-right: 25px;
    }
}

.margin-left-25 {
    @media all and (min-width: 768px) {
        margin-left: 25px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
    background-color: #F5F5F5;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
} 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D3D3D3;
}
