.playlist-image-container {
  background: linear-gradient(#B7D1DA 10%, #406E8E 90%);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 10px;

  .playlist-image-text-container {
    display: flex;
    align-items: center;

    div {
      padding-right: 25px;

      @media all and (max-width: 420px) {
        padding-right: 0;
        text-align: center;
      }
    }
  }

  .center-image {
    display: flex;
    justify-content: center;
  }

  @media all and (max-width: 420px) {
    flex-direction: column;
  }
}

.playlist-image-modal {
  max-width: 800px;

  @media all and (max-width: 320px) {
    font-size: 14px;
  }

  .container {
    max-width: 100%;
  }

  .modal-content {
    max-height: 840px;
    overflow-y: hidden;
  }
}

.left {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;

  @media all and (min-width: 576px) {
    justify-content: flex-start;
  }

  @media all and (min-width: 992px) {
    margin-left: 10px;
  }
}

.right {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;

  @media all and (min-width: 576px) {
    justify-content: flex-end;
  }

  @media all and (min-width: 992px) {
    margin-right: 10px;
  }
}

.center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.instructions-and-button-wrapper {
  flex-direction: column;
  justify-content: center;
}

.playlist-image-wrapper {
  height: 260px;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;

  @media all and (max-width: 600px) {
    height: 190px;
  }

  @media all and (max-width: 320px) {
    height: 160px;
  }
}

.playlist-image {
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 220px;
  width: 220px;

  @media all and (max-width: 730px) {
    height: 200px;
    width: 200px;
  }

  @media all and (max-width: 660px) {
    height: 190px;
    width: 190px;
  }

  @media all and (max-width: 630px) {
    height: 180px;
    width: 180px;
  }

  @media all and (max-width: 600px) {
    height: 170px;
    width: 170px;
  }

  @media all and (max-width: 320px) {
    height: 150px;
    width: 150px;
  }
}

.picked-image {
  margin: 0;
}

.camera-icon-container {
  color: #6c757d;
  cursor: pointer;
  font-size: 60px;

  @media all and (max-width: 600px) {
    font-size: 40px;
  }
}

.file-input {
  display: none;
}

.font-override {
  @media all and (max-width: 320px) {
    font-size: 14px !important;
  }
}

.save-and-cancel-buttons-wrapper {
  border-top: 1px solid #ced4da;
}

.save-and-cancel-buttons {
  padding: 10px;
  display: flex;
  justify-content: flex-end;

  .btn {
    margin-left: 10px;
  }
}
