.category-chip {
  align-items: center;
  background-color: #9C0D38;
  border: 1px solid white;
  border-radius: 40px;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: space-between;
  margin: 5px 14px;
  padding: 10px;
  text-align: center;
  width: 111.5px;

  .category-name {
    display: block;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px;
  }

  .remove-icon {
    border-radius: 15px;
    background-color: #560815;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .remove-icon:hover {
    background-color: slategray;
  }
}

// remove top margin from React select drop down menu
.css-15k3avv {
  margin-top: 0 !important;
}
