.category-chip {
  text-align: center;
  background-color: lightgrey;
  border-radius: 40px;
  width: 200px;
  padding: 10px 10px 10px 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  .category-name {
    display: inline-block;
  }

  .remove-icon {
    display: inline-block;
    border-radius: 15px;
    background-color: darkgray;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .remove-icon:hover {
    background-color: slategray;
  }
}

// remove top margin from React select drop down menu
.css-15k3avv {
  margin-top: 0 !important;
}
