$link-color: white;

.nav {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 15px;

  a {
    color: $link-color;
    margin-right: 20px;
  }

  .links-container {
    align-items: center;
    display: flex;
    height: 100%;

    @media all and (max-width: 575px) {
      display: none;
    }
  }

  .hamburger-menu-container {
    align-items: center;
    color: $link-color;
    display: none;
    font-size: 20px;
    height: 100%;

    @media all and (max-width: 575px) {
      display: flex;
      justify-content: flex-end;
    }
  }

  @media all and (max-width: 575px) {
    flex-direction: column;
  }
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  transition: all 1s;

  &.no-height {
    max-height: 0px;
    overflow: hidden;

  }

  @media all and (min-width: 575px) {
    display: none;
  }
}
