.category-card {
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s; }

.category-card-img {
  border-radius: 25px; }

.category-card-text {
  color: white;
  text-align: center; }

.category-card-col {
  margin-bottom: 25px;
  margin-top: 25px; }

.clicked {
  opacity: 0.2; }

.not-clicked:hover {
  box-shadow: 0 40px 180px rgba(0, 0, 0, 0.6);
  transform: scale(1.1, 1.1); }

.category-chip {
  align-items: center;
  background-color: #9c0d38;
  border: 1px solid white;
  border-radius: 40px;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: space-between;
  margin: 5px 14px;
  padding: 10px;
  text-align: center;
  width: 111.5px; }
  .category-chip .category-name {
    display: block;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px; }
  .category-chip .remove-icon {
    border-radius: 15px;
    background-color: #560815;
    width: 25px;
    height: 25px;
    cursor: pointer; }
  .category-chip .remove-icon:hover {
    background-color: slategray; }

.css-15k3avv {
  margin-top: 0 !important; }

.margin-top {
  margin-top: 10px; }

.no-margin-top {
  margin-top: 0; }

@media all and (max-width: 360px) {
  .no-right-padding-mobile {
    padding-right: 0; } }

@media all and (max-width: 360px) {
  .no-left-right-padding-mobile {
    padding-right: 0;
    padding-left: 0; } }

@media all and (max-width: 360px) {
  .no-right-padding-mobile {
    padding-right: 0; } }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

@media all and (max-width: 360px) {
  .no-left-right-padding-mobile {
    padding-right: 0;
    padding-left: 0; } }

.center-button {
  display: flex;
  justify-content: center; }

.add-song-wrapper {
  background: linear-gradient(#b7d1da 10%, #406e8e 90%);
  width: 100%;
  height: 65px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px; }

.save-discard-button-row {
  margin-bottom: 10px; }

.saved-pop-up {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center; }
  .saved-pop-up .modal-content {
    width: 250px; }
  .saved-pop-up .modal-body {
    text-align: center;
    color: white;
    border-radius: 4px;
    background-color: #39c16c; }
  .saved-pop-up .success-icon-container {
    font-size: 30px; }

.create-new-playlist-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; }

.create-new-playlist-button {
  background-color: #9c0d38;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  width: 200px;
  height: 35px; }

.playlist-image-container {
  background: linear-gradient(#b7d1da 10%, #406e8e 90%);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 10px; }
  .playlist-image-container .playlist-image-text-container {
    display: flex;
    align-items: center; }
    .playlist-image-container .playlist-image-text-container div {
      padding-right: 25px; }
      @media all and (max-width: 420px) {
        .playlist-image-container .playlist-image-text-container div {
          padding-right: 0;
          text-align: center; } }
  .playlist-image-container .center-image {
    display: flex;
    justify-content: center; }
  @media all and (max-width: 420px) {
    .playlist-image-container {
      flex-direction: column; } }

.playlist-image-modal {
  max-width: 800px; }
  @media all and (max-width: 320px) {
    .playlist-image-modal {
      font-size: 14px; } }
  .playlist-image-modal .container {
    max-width: 100%; }
  .playlist-image-modal .modal-content {
    background: linear-gradient(#b7d1da 10%, #406e8e 90%);
    border: 1px solid white;
    color: white;
    max-height: 840px;
    overflow-y: hidden; }

.left {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center; }
  @media all and (min-width: 576px) {
    .left {
      justify-content: flex-start; } }
  @media all and (min-width: 992px) {
    .left {
      margin-left: 10px; } }

.right {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center; }
  @media all and (min-width: 576px) {
    .right {
      justify-content: flex-end; } }
  @media all and (min-width: 992px) {
    .right {
      margin-right: 10px; } }

.center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center; }

.instructions-and-button-wrapper {
  flex-direction: column;
  justify-content: center; }

.playlist-image-wrapper {
  height: 260px;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto; }
  @media all and (max-width: 600px) {
    .playlist-image-wrapper {
      height: 190px; } }
  @media all and (max-width: 320px) {
    .playlist-image-wrapper {
      height: 160px; } }

.playlist-image {
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 220px;
  width: 220px; }
  @media all and (max-width: 730px) {
    .playlist-image {
      height: 200px;
      width: 200px; } }
  @media all and (max-width: 660px) {
    .playlist-image {
      height: 190px;
      width: 190px; } }
  @media all and (max-width: 630px) {
    .playlist-image {
      height: 180px;
      width: 180px; } }
  @media all and (max-width: 600px) {
    .playlist-image {
      height: 170px;
      width: 170px; } }
  @media all and (max-width: 320px) {
    .playlist-image {
      height: 150px;
      width: 150px; } }

.picked-image {
  margin: 0; }

.camera-icon-container {
  color: #9c0d38;
  cursor: pointer;
  font-size: 60px; }
  @media all and (max-width: 600px) {
    .camera-icon-container {
      font-size: 40px; } }

.file-input {
  display: none; }

@media all and (max-width: 320px) {
  .font-override {
    font-size: 14px !important; } }

.save-and-cancel-buttons-wrapper {
  border-top: 1px solid white; }

.save-and-cancel-and-buttons {
  padding: 10px;
  display: flex;
  justify-content: flex-end; }
  .save-and-cancel-and-buttons .btn {
    margin-left: 10px;
    border: 1px solid white;
    background-color: #9c0d38; }

.search-button {
  border: 1px solid white !important;
  background-color: #9c0d38 !important;
  opacity: 1 !important; }

.font-12-regular {
  font-size: 12px;
  font-weight: normal; }

.font-12-medium {
  font-size: 12px;
  font-weight: 500; }

.font-12-bold {
  font-size: 12px;
  font-weight: bold; }

.font-14-regular, .song-and-artist-name-wrapper .artist-name {
  font-size: 14px;
  font-weight: normal; }

.font-14-medium {
  font-size: 14px;
  font-weight: 500; }

.font-14-bold {
  font-size: 14px;
  font-weight: bold; }

.font-16-regular {
  font-size: 16px;
  font-weight: normal; }

.font-16-medium, .song-and-artist-name-wrapper .song-name {
  font-size: 16px;
  font-weight: 500; }

.font-16-bold {
  font-size: 16px;
  font-weight: bold; }

.font-18-regular {
  font-size: 18px;
  font-weight: normal; }

.font-18-medium {
  font-size: 18px;
  font-weight: 500; }

.font-18-bold {
  font-size: 18px;
  font-weight: bold; }

.font-24-regular {
  font-size: 24px;
  font-weight: normal; }

.font-24-medium {
  font-size: 24px;
  font-weight: 500; }

.font-24-bold {
  font-size: 24px;
  font-weight: bold; }

.table-label {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 5px 0; }

.table-rows-wrapper {
  background: linear-gradient(#b7d1da 10%, #406e8e 90%);
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 10px; }
  .table-rows-wrapper .populate-button-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px; }
    .table-rows-wrapper .populate-button-container .alert-success {
      background-color: #bee6ce;
      width: 75%; }
      @media all and (max-width: 320px) {
        .table-rows-wrapper .populate-button-container .alert-success {
          font-size: 14px;
          width: 60%; } }

.transition-effects, .table-row:after, .table-row:before {
  background-image: linear-gradient(to right, white, #eef7fa);
  border-radius: 2px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1; }

.table-row {
  border-bottom: 1px solid white;
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 60px;
  min-width: 228px;
  position: relative;
  overflow: hidden; }
  .table-row:after {
    transition: width 2s ease;
    width: 0; }
  .table-row:before {
    opacity: 0;
    transition: opacity 2s ease;
    width: 100%; }
  .table-row:active:after {
    transition: width 0s;
    width: 100%; }
  .table-row:active:before {
    opacity: 1;
    transition: opacity 0s; }

.song-info {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; }

.album-art-wrapper {
  margin-right: 15px; }

.tr-icons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  min-width: 55px; }
  .tr-icons-wrapper .play-icon-wrapper {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 100%;
    position: absolute; }
  .tr-icons-wrapper .hide {
    display: none; }

.album-art {
  border-radius: 2px;
  height: 60px;
  width: 60px; }

.song-and-artist-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media all and (max-width: 767px) {
    .song-and-artist-name-wrapper {
      width: 50%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .song-and-artist-name-wrapper {
      width: 65%; } }
  @media all and (min-width: 992px) {
    .song-and-artist-name-wrapper {
      width: 75%; } }
  .song-and-artist-name-wrapper .song-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }
  .song-and-artist-name-wrapper .artist-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }

.icon-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex; }

.row-dropdown-height {
  display: flex;
  height: 80px;
  overflow: hidden;
  transition: height 1s;
  width: inherit; }

.row-dropdown-no-height {
  height: 0;
  overflow: hidden;
  transition: height 1s; }

.outer-slider-wrapper {
  width: 100%; }

.slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; }

.position-relative {
  position: relative; }

.arrow-wrapper, .hide-arrow {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  position: absolute;
  justify-content: center;
  z-index: 1; }

.left-arrow {
  left: 0; }

.right-arrow {
  right: 0; }

.hide-arrow svg {
  visibility: hidden; }

.highlighted-item-wrapper {
  margin: 0 auto; }

.item, .item-active, .item-not-active {
  border-radius: 5px; }

.item-active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: all 0.8s; }

.item-not-active {
  opacity: 0.5; }

.items-wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.8s; }

.songs-table-wrapper {
  border: 1px solid #dee2eb;
  border-radius: 5px;
  height: 500px; }
  .songs-table-wrapper th,
  .songs-table-wrapper td {
    text-align: center;
    font-weight: bold;
    vertical-align: middle; }
  .songs-table-wrapper tbody {
    overflow: auto; }
  .songs-table-wrapper tr:hover .song-album-art {
    transform: scale(1.08, 1.08);
    transition: all 0.2s; }

.playlist-card-wrapper {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  cursor: pointer; }
  @media all and (max-width: 576px) {
    .playlist-card-wrapper {
      height: 180px; } }
  @media all and (max-width: 576px) {
    .playlist-card-wrapper {
      width: 180px; } }
  .playlist-card-wrapper .card-img-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1; }
  .playlist-card-wrapper:before {
    background-color: rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 0.5s;
    width: 100%;
    z-index: 1; }
  .playlist-card-wrapper:hover:before {
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s; }

.playlist-modal-body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b4b4b4;
  background-blend-mode: soft-light; }
  .playlist-modal-body .album-art {
    height: 60px;
    width: 60px; }

.playlist-modal .modal-content {
  max-height: 650px;
  overflow-y: auto;
  overflow-x: hidden; }

.playlist-modal .modal-table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; }
  .playlist-modal .modal-table-row .album-art-song-info-wrapper {
    display: flex;
    width: 85%; }
    .playlist-modal .modal-table-row .album-art-song-info-wrapper .song-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%; }
      .playlist-modal .modal-table-row .album-art-song-info-wrapper .song-info .album-art {
        height: 60px;
        width: 60px; }
      .playlist-modal .modal-table-row .album-art-song-info-wrapper .song-info .artist-name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%; }
      .playlist-modal .modal-table-row .album-art-song-info-wrapper .song-info .song-name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%; }
  .playlist-modal .modal-table-row .play-pause-wrapper {
    display: flex;
    align-items: center; }
    .playlist-modal .modal-table-row .play-pause-wrapper .play-icon-wrapper {
      cursor: pointer; }
  .playlist-modal .modal-table-row .hide {
    display: none; }

.playlist-modal ::-webkit-scrollbar {
  width: 0 !important; }

.playlist-information-wrapper {
  display: flex;
  flex-direction: column; }

.playlist-name-input {
  margin-bottom: 10px; }

.css-151xaom-placeholder {
  white-space: nowrap; }

.top-ten-item-wrapper {
  cursor: pointer;
  display: flex;
  height: 60px;
  overflow: hidden;
  width: 180px; }
  .top-ten-item-wrapper .audio-and-image-wrapper {
    position: relative;
    margin-right: 5px; }
  .top-ten-item-wrapper .play-icon-wrapper {
    align-items: center;
    display: flex;
    font-size: 30px;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%; }
  .top-ten-item-wrapper .show-play {
    visibility: hidden; }
  .top-ten-item-wrapper .hide {
    display: none; }
  .top-ten-item-wrapper .song-info-wrapper div {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 115px; }

.half-opacity {
  opacity: 0.5; }

.top-ten-item-wrapper:hover .show-play {
  visibility: visible; }

.top-ten-item-wrapper:hover .album-art {
  opacity: 0.5; }

.explore-row {
  margin-bottom: 400px; }

.circular-button-container {
  align-items: center;
  background-color: #9C0D38;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center; }

.playlist-info-and-categories-wrapper {
  background: linear-gradient(#B7D1DA 10%, #406E8E 90%);
  border: 1px solid white;
  padding: 26px;
  border-radius: 8px;
  margin-bottom: 10px; }

.nav {
  background-color: #312f2f;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 15px; }
  .nav a {
    color: white;
    margin-right: 20px; }
  .nav .logo-and-menu-container {
    display: flex;
    justify-content: space-between;
    height: 30px; }
  .nav .logo {
    font-size: 20px; }
  .nav .links-container {
    align-items: center;
    display: flex;
    height: 100%; }
    @media all and (max-width: 575px) {
      .nav .links-container .hide-on-mobile {
        display: none; } }
  .nav .hamburger-menu-container {
    align-items: center;
    color: white;
    display: none;
    font-size: 20px;
    height: 100%; }
    @media all and (max-width: 575px) {
      .nav .hamburger-menu-container {
        display: flex;
        justify-content: flex-end; } }

.dropdown-links {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  transition: all 1s; }
  .dropdown-links.no-height {
    max-height: 0px;
    overflow: hidden; }
  @media all and (min-width: 575px) {
    .dropdown-links {
      display: none; } }

.advanced-search-container .playlist-card-container {
  display: flex;
  justify-content: center;
  margin: 10px 0; }
  .advanced-search-container .playlist-card-container .playlist-card-wrapper {
    width: 300px;
    height: 300px; }
    @media all and (max-width: 360px) {
      .advanced-search-container .playlist-card-container .playlist-card-wrapper {
        width: 250px;
        height: 250px; } }

.advanced-search-container .all-playlist-cards-container {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 350px; }

.advanced-search-container .css-kj6f9i-menu {
  margin-top: 0;
  z-index: 100; }

.search-container {
  border: 1px solid white;
  padding: 15px;
  background: linear-gradient(#b7d1da 10%, #406e8e 90%);
  border-radius: 8px; }
  .search-container .search-button-container {
    display: flex;
    justify-content: center; }
    .search-container .search-button-container button {
      background-color: #9c0d38;
      color: white;
      border: 1px solid white;
      border-radius: 3px;
      height: 35px; }
  .search-container .table-rows-wrapper {
    background: transparent;
    margin-bottom: 0; }
  .search-container .tr-icons-wrapper {
    justify-content: center; }
  .search-container .center {
    display: flex;
    justify-content: center; }
  .search-container .margin-bottom-10 {
    margin-bottom: 10px; }

.search-chip-container {
  display: flex;
  background-color: #9c0d38;
  color: white;
  border: 1px solid white;
  justify-content: space-between;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px; }
  .search-chip-container .data-to-display-container {
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 6px; }
    .search-chip-container .data-to-display-container .text-wrapper {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .search-chip-container .remove-search-chip-container {
    text-align: right;
    margin-right: 6px; }
    .search-chip-container .remove-search-chip-container svg {
      cursor: pointer; }

.font-12-regular {
  font-size: 12px;
  font-weight: normal; }

.font-12-medium {
  font-size: 12px;
  font-weight: 500; }

.font-12-bold {
  font-size: 12px;
  font-weight: bold; }

.font-14-regular, .song-and-artist-name-wrapper .artist-name {
  font-size: 14px;
  font-weight: normal; }

.font-14-medium {
  font-size: 14px;
  font-weight: 500; }

.font-14-bold {
  font-size: 14px;
  font-weight: bold; }

.font-16-regular {
  font-size: 16px;
  font-weight: normal; }

.font-16-medium, .song-and-artist-name-wrapper .song-name {
  font-size: 16px;
  font-weight: 500; }

.font-16-bold {
  font-size: 16px;
  font-weight: bold; }

.font-18-regular {
  font-size: 18px;
  font-weight: normal; }

.font-18-medium {
  font-size: 18px;
  font-weight: 500; }

.font-18-bold {
  font-size: 18px;
  font-weight: bold; }

.font-24-regular {
  font-size: 24px;
  font-weight: normal; }

.font-24-medium {
  font-size: 24px;
  font-weight: 500; }

.font-24-bold {
  font-size: 24px;
  font-weight: bold; }

body {
  background-color: #bee6ce;
  font-family: "Abel", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  height: 100%; }

html {
  min-height: 100vh; }

/*
SCROLLBAR
*/
::-webkit-scrollbar {
  background-color: white;
  border-radius: 4px;
  width: 10px; }
  @media all and (max-width: 768px) {
    ::-webkit-scrollbar {
      width: 0; } }

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px; }
