@import "./components/create-playlist/choose-categories/styles.scss";
@import "./components/create-playlist/make-playlist/creation/change-categories/styles.scss";
@import "./components/create-playlist/make-playlist/creation/song-input/styles.scss";
@import "./components/create-playlist/make-playlist/creation/playlist-image/styles.scss";
@import "./components/create-playlist/make-playlist/tables/styles.scss";
@import "./components/reusable-components/slider/styles.scss";
@import "./components/reusable-components/playlist-card/styles.scss";
@import "./components/create-playlist/make-playlist/creation/playlist-information/styles.scss";
@import "./components/create-playlist/make-playlist/tables/row-dropdown/styles.scss";
@import "./components/reusable-components/circular-button/styles.scss";
@import "./components/create-playlist/make-playlist/creation/styles.scss";
@import "./components/navbar/styles.scss";
@import "./components/browse/advanced-search/styles.scss";
@import "./components/browse/styles.scss";
@import "./theme/theme-variables.scss";

body {
  background: linear-gradient(#ffffff 10%, #06070E 90%);
  // background-color: #bee6ce;
  font-family: "Abel", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  height: 100%;
}

html {
  min-height: 100vh;
}

/*
SCROLLBAR
*/
::-webkit-scrollbar {
  background-color: white;
  border-radius: 4px;
  width: 10px;

  @media all and (max-width: 768px) {
    width: 0;
  }
}
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px;
}
