.font-12-regular {
  font-size: 12px;
  font-weight: normal; }

.font-12-medium {
  font-size: 12px;
  font-weight: 500; }

.font-12-bold {
  font-size: 12px;
  font-weight: bold; }

.font-14-regular {
  font-size: 14px;
  font-weight: normal; }

.font-14-medium {
  font-size: 14px;
  font-weight: 500; }

.font-14-bold {
  font-size: 14px;
  font-weight: bold; }

.font-16-regular {
  font-size: 16px;
  font-weight: normal; }

.font-16-medium {
  font-size: 16px;
  font-weight: 500; }

.font-16-bold {
  font-size: 16px;
  font-weight: bold; }

.font-18-regular {
  font-size: 18px;
  font-weight: normal; }

.font-18-medium {
  font-size: 18px;
  font-weight: 500; }

.font-18-bold {
  font-size: 18px;
  font-weight: bold; }

.font-24-regular {
  font-size: 24px;
  font-weight: normal; }

.font-24-medium {
  font-size: 24px;
  font-weight: 500; }

.font-24-bold {
  font-size: 24px;
  font-weight: bold; }
